form.wmd {
    background: #eee;
    padding: 3px;
}

.wmd-enabled {
    padding: 3px;
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    min-width: 500px;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #aaa;
    display: block;
}
.wmd-enabled:focus {
    border-color: #666;
    box-shadow: none;
}

.wmd-preview {
    background: #fff;
    margin: 3px 0 0;
    padding: 0 10px;
    overflow: hidden;
    display: none;
}
.wmd-preview.active {
    display: block;
}

.wmd-button-row {
    overflow: hidden;
    margin: 0;
    padding: 0 0 2px;
}

.wmd-spacer {
    float: left;
    list-style: none;
    width: 1px;
    background: #ccc;
    background: rgba(0,0,0,.2);
    height: 16px;
    margin: 2px 5px 2px 4px;
}

.wmd-button {
    width: 20px; 
    height: 20px; 
    background: url(../img/wmd-buttons.png) no-repeat;
    float: left; 
    list-style: none;
    margin: 0 1px 0 0;
}

.wmd-bold-button    { left: 0px;   background-position: 0px 0; }
.wmd-italic-button  { left: 25px;  background-position: -20px 0; }
.wmd-spacer1        { left: 50px }
.wmd-link-button    { left: 75px;   background-position: -40px 0; }
.wmd-quote-button   { left: 100px;  background-position: -60px 0; }
.wmd-image-button   { left: 125px;  background-position: -80px 0; }
.wmd-code-button    { left: 150px;  background-position: -100px 0; }
.wmd-spacer2        { left: 175px }
.wmd-olist-button   { left: 200px;  background-position: -120px 0; }
.wmd-ulist-button   { left: 225px;  background-position: -140px 0; }
.wmd-heading-button { left: 250px;  background-position: -160px 0; }
.wmd-hr-button      { left: 275px;  background-position: -180px 0; }
.wmd-spacer3        { left: 300px }
.wmd-undo-button    { left: 325px;  background-position: -200px 0; }
.wmd-redo-button    { left: 350px;  background-position: -220px 0; }
.wmd-help-button    { right: 0px;   background-position: -240px 0; }


.wmd-prompt-background
{
    background-color: Black;
}

.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}
